@import 'tippy-base';

$theme-name: "snow";
$tooltip-theme-name: tooltip#{$theme-name};

.tippy-box[data-theme~=#{$tooltip-theme-name}] {
  --bg-primary-color: #F5F5F5;
  --bg-secondary-color: #BBBBBB;
  --folder-label-color: #555555;
}

.tooltipContent[data-theme=#{$tooltip-theme-name}] {
  --bg-secondary-color: #BBBBBB;
}

.just-tree-view-menu[data-theme=#{$theme-name}] {
  --bg-primary-color: #F5F5F5; // Light Gray
  --bg-secondary-color: #BBBBBB; // White
  --bg-ternary-color: #E0E0E0; // Gray
  --text-color: #333333; // Dark Gray
  --active-color: #AA95e0AA; // Royal Blue
  --scrollbar-color: #D1D1D1; // Gray
  --active-scrollbar-color: #A0A0A0; // Light Gray
  --arrow-color: #666666; // Gray
  --arrow-active-color: #999999; // Light Gray
  --leaf-color: #1195f9; // Blue for contrast
  --item-hover-color: #CCCCCC; // Light Gray
  --folder-label-color: #555555; // Gray
  --highlighted-text-color: #1a1a1a;
  --highlighted-text-bkg: #8bc24a;

  .just-separator {
    --thickness: 1px;
    --color: var(--scrollbar-color);
  }

  .title {
  }

  .content-bkg {
  }

  .content {
    .description {
    }
  }

  .content::-webkit-scrollbar {
  }

  .content::-webkit-scrollbar-track {
  }

  .content::-webkit-scrollbar-track:hover {
  }

  .content::-webkit-scrollbar-thumb {
  }

  .content::-webkit-scrollbar-thumb:hover {
  }

  .tree-view-item {
    .header {
      .icon {
      }

      .leafIcon {
      }

      .foldIcon:hover {
      }

      .folderLabel {
      }

      .leafLabel {
      }

      .highlightedLabel {
      }
    }

    .leafHeader {
    }

    .header-bkg:hover {
    }

    .header-bkg:focus {
    }
  }
}